[submodule "notebooks/la_times/california-ccscore-analysis"]
	path = notebooks/la_times/california-ccscore-analysis
	url = https://github.com/swkasica/california-ccscore-analysis.git
[submodule "notebooks/la_times/california-crop-production-wages-analysis"]
	path = notebooks/la_times/california-crop-production-wages-analysis
	url = https://github.com/swkasica/california-crop-production-wages-analysis.git
[submodule "notebooks/buzzfeednews/2019-04-democratic-candidate-codonors"]
	path = notebooks/buzzfeednews/2019-04-democratic-candidate-codonors
	url = https://github.com/swkasica/2019-04-democratic-candidate-codonors
[submodule "notebooks/la_times/census-hard-to-map-analysis"]
	path = notebooks/la_times/census-hard-to-map-analysis
	url = https://github.com/swkasica/census-hard-to-map-analysis.git
[submodule "open-journalism"]
	path = open-journalism
	url = https://github.com/silva-shih/open-journalism.git
[submodule "notebooks/TheOregonian/long-term-care-db"]
	path = notebooks/TheOregonian/long-term-care-db
	url = https://github.com/swkasica/long-term-care-db.git
[submodule "notebooks/baltimore-sun-data/2018-voter-registration"]
	path = notebooks/baltimore-sun-data/2018-voter-registration
	url = https://github.com/swkasica/2018-voter-registration.git
[submodule "pdfannots"]
	path = pdfannots
	url = https://github.com/swkasica/pdfannots.git
[submodule "notebooks/stlpublicradio/2018-05-31-crime-and-heat-analysis"]
	path = notebooks/stlpublicradio/2018-05-31-crime-and-heat-analysis
	url = https://github.com/swkasica/2018-05-31-crime-and-heat-analysis.git
[submodule "notebooks/buzzfeednews/2016-11-bellwether-counties"]
	path = notebooks/buzzfeednews/2016-11-bellwether-counties
	url = https://github.com/swkasica/2016-11-bellwether-counties.git
[submodule "notebooks/buzzfeednews/2016-09-shy-trumpers"]
	path = notebooks/buzzfeednews/2016-09-shy-trumpers
	url = https://github.com/swkasica/2016-09-shy-trumpers.git
[submodule "notebooks/buzzfeednews/2016-04-republican-donor-movements"]
	path = notebooks/buzzfeednews/2016-04-republican-donor-movements
	url = https://github.com/BuzzFeedNews/2016-04-republican-donor-movements.git
[submodule "notebooks/la_times/census-hard-to-map-analysis"]
	path = notebooks/la_times/california-h2a-visas-analysis
	url = https://github.com/swkasica/california-h2a-visas-analysis.git
	
[submodule "notebooks/nola/Endangered-Species-Act-Louisiana"]
	path = notebooks/nola/Endangered-Species-Act-Louisiana
	url = https://github.com/swkasica/Endangered-Species-Act-Louisiana
[submodule "notebooks/wuft/Power_of_Irma"]
	path = notebooks/wuft/Power_of_Irma
	url = https://github.com/swkasica/Power_of_Irma
[submodule "notebooks/time/wikipedia-rankings"]
	path = notebooks/time/wikipedia-rankings
	url = https://github.com/swkasica/wikipedia-rankings
[submodule "notebooks/time/babyname_politics"]
	path = notebooks/time/babyname_politics
	url = https://github.com/swkasica/babyname_politics.git
[submodule "notebooks/buzzfeednews/2015-11-refugees-in-the-united-states"]
	path = notebooks/buzzfeednews/2015-11-refugees-in-the-united-states
	url = https://github.com/BuzzFeedNews/2015-11-refugees-in-the-united-states.git
[submodule "notebooks/publicl/employment-discrimination"]
	path = notebooks/publicl/employment-discrimination
	url = https://github.com/swkasica/employment-discrimination
[submodule "notebooks/fivethirtyeight/data"]
	path = notebooks/fivethirtyeight
	url = https://github.com/swkasica/data.git
[submodule "notebooks/quartz/nyc-trips"]
	path = notebooks/quartz/nyc-trips
	url = https://github.com/swkasica/nyc-trips
[submodule "notebooks/quartz/work-from-home"]
	path = notebooks/quartz/work-from-home
	url = https://github.com/swkasica/work-from-home
[submodule "notebooks/vox"]
	path = notebooks/vox
	url = https://github.com/swkasica/data-projects.git
[submodule "notebooks/nytimes/prison-admissions"]
	path = notebooks/nytimes/prison-admissions
	url = https://github.com/TheUpshot/prison-admissions.git
[submodule "notebooks/baltimore-sun-data/school-star-ratings-2018"]
	path = notebooks/baltimore-sun-data/school-star-ratings-2018
	url = https://github.com/swkasica/school-star-ratings-2018
[submodule "notebooks/bbc/electric-car-charging-points"]
	path = notebooks/bbc/electric-car-charging-points
	url = https://github.com/swkasica/electric-car-charging-points
[submodule "notebooks/bbc/internal-migration-london"]
	path = notebooks/bbc/internal-migration-london
	url = https://github.com/swkasica/internal-migration-london
[submodule "notebooks/bbc/midwife-led-units"]
	path = notebooks/bbc/midwife-led-units
	url = https://github.com/swkasica/midwife-led-units
[submodule "notebooks/washington_post/federal_employees_trump_2017"]
	path = notebooks/washington_post/federal_employees_trump_2017
	url = https://github.com/swkasica/federal_employees_trump_2017
[submodule "notebooks/statesman/2019-ems-analysis"]
	path = notebooks/statesman/2019-ems-analysis
	url = https://github.com/swkasica/2019-ems-analysis.git
[submodule "notebooks/propublica/auditData"]
	path = notebooks/propublica/auditData
	url = https://github.com/swkasica/auditData.git
[submodule "notebooks/trendct"]
	path = notebooks/trendct
	url = https://github.com/swkasica/data-1.git
[submodule "notebooks/buffalonews/new-york-schools-assessment"]
	path = notebooks/buffalonews/new-york-schools-assessment
	url = https://github.com/swkasica/new-york-schools-assessment.git
[submodule "notebooks/polygraph/skatemusic"]
	path = notebooks/polygraph/skatemusic
	url = https://github.com/swkasica/skatemusic.git
[submodule "notebooks/correctiv/awb-notebook"]
	path = notebooks/correctiv/awb-notebook
	url = https://github.com/swkasica/awb-notebook.git
[submodule "notebooks/star-tribune/201901-hospitalquality"]
	path = notebooks/star-tribune/201901-hospitalquality
	url = https://github.com/swkasica/201901-hospitalquality.git
[submodule "notebooks/times"]
	path = notebooks/times
	url = https://github.com/swkasica/data-2.git
